#h4{
  text-align: center;
  margin-top: 20px;
}
.pic{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 120px;
    float: left;
    width: 200px;
    height: 200px;
    padding: 0px;
  }
  .Apps {
    border: 1px solid black;
    float: right;
    margin-right: 25px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
    
  }
  .grids {
 
    margin-top: 25px;
    
  }
  #info{
    float: left;
  }
  .oldPosts{
  float:left;
  margin-left: 100px;
  margin-top: 20px;  
  }
